/* Contact Section */
#contact {
    padding: 100px 100px;
    background-color: #272d492d;
}

#about {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}
/* .contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} */

.contact-form {
    flex: 1;
    max-width: 500px;
}

.contact-disc {
    flex: 1;
    padding: 20px;
}

/* .about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
} */

#contact h2 {
    text-align: left;
    margin-bottom: 20px;
}

#contact form {
    max-width: 100%;
}

#contact label {
    display: block;
    margin-top: 10px;
}

#contact input, #contact textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #272D49;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
